certifi==2019.6.16
chardet==3.0.4
Django==2.2.18
django-filter==1.1.0
django-rest-auth==0.9.5
djangorestframework==3.9.4
djangorestframework-filters==0.11.1
idna==2.8
nepali-date==1.0.2
pytz==2019.1
requests==2.22.0
six==1.12.0
sqlparse==0.3.0
timestring==1.6.4
urllib3==1.25.3
